# Importar galeria a usar

In [65]:
import pandas as pd
import os

* Creacion de funcion para cargar los archis a CSV

In [66]:
# Funcion encargada de abrir y guardar cada hoja en una columna de dataframe
def cargararchivos(file_path, sheet_names):
    df = {}
    for sheet_name in sheet_names:
        df[sheet_name] = pd.read_excel(file_path, sheet_name=sheet_name)
    return df

In [67]:
# Datos para implementacion de funcion load_excel_sheets
file_path = '../data/raw/Internet.xlsx'
sheet_names = [
    'Acc_vel_loc_sinrangos',
    'Velocidad_sin_Rangos',
    'Accesos_tecnologia_localidad',
    'Velocidad % por prov',
    'Totales VMD',
    'Totales Accesos Por Tecnología',
    'Accesos Por Tecnología',
    'Penetración-poblacion',
    'Penetracion-hogares',
    'Penetracion-totales',
    'Totales Accesos por velocidad',
    'Accesos por velocidad',
    'Dial-BAf',
    'Totales Dial-BAf',
    'Ingresos '
]

In [68]:
# Carga de DataFrames
df = cargararchivos(file_path, sheet_names)

In [69]:
def save_df(dataframes, output_folder, file_format='xlsx'):
    # Veo si la carpeta existe sino la creo 
    if not os.path.exists(output_folder):
        os.makedirs(output_folder)
    
    for name, df in dataframes.items():
        # Define la ruta completa del archivo con la extensión apropiada
        file_path = f'{output_folder}/{name}.{file_format}'
        
        # Guarda en formato Excel o CSV según la extensión
        if file_format == 'xlsx':
            df.to_excel(file_path, index=False)
        elif file_format == 'csv':
            df.to_csv(file_path, index=False)
        else:
            print(f'Formato no soportado: {file_format}')
            continue
        
        print(f'Archivo {name} creado exitosamente')

save_df(df,'../data/raw/',file_format='csv')

Archivo Acc_vel_loc_sinrangos creado exitosamente
Archivo Velocidad_sin_Rangos creado exitosamente
Archivo Accesos_tecnologia_localidad creado exitosamente
Archivo Velocidad % por prov creado exitosamente
Archivo Totales VMD creado exitosamente
Archivo Totales Accesos Por Tecnología creado exitosamente
Archivo Accesos Por Tecnología creado exitosamente
Archivo Penetración-poblacion creado exitosamente
Archivo Penetracion-hogares creado exitosamente
Archivo Penetracion-totales creado exitosamente
Archivo Totales Accesos por velocidad creado exitosamente
Archivo Accesos por velocidad creado exitosamente
Archivo Dial-BAf creado exitosamente
Archivo Totales Dial-BAf creado exitosamente
Archivo Ingresos  creado exitosamente

# Limpiando Dataframes

* carga de CSV a implementar

In [70]:
acc_tecno_df = pd.read_csv('../data/raw/Accesos por Tecnología.csv')

In [38]:
acc_tecno_df.head()

,Año,Trimestre,Provincia,ADSL,Cablemodem,Fibra óptica,Wireless,Otros,Total
0,2024,1,Buenos Aires,203297.0,2790663.0,1799013.0,150290.0,101294.0,5044557.0
1,2024,1,Capital Federal,70108.0,1177475.0,203756.0,4493.0,48879.0,1504711.0
2,2024,1,Catamarca,5901.0,11025.0,56542.0,1384.0,81.0,74933.0
3,2024,1,Chaco,11343.0,58929.0,64463.0,8404.0,12404.0,155543.0
4,2024,1,Chubut,26306.0,77217.0,26356.0,30867.0,9930.0,170676.0

In [39]:
acc_tecno_df.tail()

,Año,Trimestre,Provincia,ADSL,Cablemodem,Fibra óptica,Wireless,Otros,Total
981,2014,1,Santiago Del Estero,32567.0,3598.0,19.0,915.0,34.0,37133.0
982,2014,1,Tierra Del Fuego,21618.0,2837.0,648.0,1.0,2934.0,28038.0
983,2014,1,Tucumán,129717.0,83.0,121.0,13.0,98.0,130032.0
984,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
985,*,Los datos provinciales no coinciden a nivel na...,NaN,NaN,NaN,NaN,NaN,NaN,NaN

* Tengo las 2 ultimas filas NaN entonces las elimino

In [40]:
acc_tecno_df = acc_tecno_df[:-2]
acc_tecno_df

,Año,Trimestre,Provincia,ADSL,Cablemodem,Fibra óptica,Wireless,Otros,Total
0,2024,1,Buenos Aires,203297.0,2790663.0,1799013.0,150290.0,101294.0,5044557.0
1,2024,1,Capital Federal,70108.0,1177475.0,203756.0,4493.0,48879.0,1504711.0
2,2024,1,Catamarca,5901.0,11025.0,56542.0,1384.0,81.0,74933.0
3,2024,1,Chaco,11343.0,58929.0,64463.0,8404.0,12404.0,155543.0
4,2024,1,Chubut,26306.0,77217.0,26356.0,30867.0,9930.0,170676.0
...,...,...,...,...,...,...,...,...,...
979,2014,1,Santa Cruz,18927.0,100.0,381.0,4092.0,3264.0,26764.0
980,2014,1,Santa Fe,322662.0,174296.0,3059.0,5951.0,644.0,506612.0
981,2014,1,Santiago Del Estero,32567.0,3598.0,19.0,915.0,34.0,37133.0
982,2014,1,Tierra Del Fuego,21618.0,2837.0,648.0,1.0,2934.0,28038.0
983,2014,1,Tucumán,129717.0,83.0,121.0,13.0,98.0,130032.0

* intente castiar los datos flotantes a enteros pero me salio un error debido a que habia STR, asi que decidi castear de la columna tres en adelante a STR para poder eliminar los ceros que son datos inecesarios

In [41]:
acc_tecno_df.iloc[:, 3:] = acc_tecno_df.iloc[:, 3:].applymap(lambda x: str(x).replace('.0', ''))
acc_tecno_df

C:\Users\Usuario\AppData\Local\Temp\ipykernel_764\2226258164.py:1: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  acc_tecno_df.iloc[:, 3:] = acc_tecno_df.iloc[:, 3:].applymap(lambda x: str(x).replace('.0', ''))
C:\Users\Usuario\AppData\Local\Temp\ipykernel_764\2226258164.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '0      203297
1       70108
2        5901
3       11343
4       26306
        ...
979     18927
980    322662
981     32567
982     21618
983    129717
Name: ADSL, Length: 984, dtype: object' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  acc_tecno_df.iloc[:, 3:] = acc_tecno_df.iloc[:, 3:].applymap(lambda x: str(x).replace('.0', ''))
C:\Users\Usuario\AppData\Local\Temp\ipykernel_764\2226258164.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '0      2790663
1      1177475
2        11025
3        58929
4        77217
        ...
979        100
980     174296
981       3598
982       2837
983         83
Name: Cablemodem, Length: 984, dtype: object' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  acc_tecno_df.iloc[:, 3:] = acc_tecno_df.iloc[:, 3:].applymap(lambda x: str(x).replace('.0', ''))
C:\Users\Usuario\AppData\Local\Temp\ipykernel_764\2226258164.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '0      1799013
1       203756
2        56542
3        64463
4        26356
        ...
979        381
980       3059
981         19
982        648
983        121
Name: Fibra óptica, Length: 984, dtype: object' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  acc_tecno_df.iloc[:, 3:] = acc_tecno_df.iloc[:, 3:].applymap(lambda x: str(x).replace('.0', ''))
C:\Users\Usuario\AppData\Local\Temp\ipykernel_764\2226258164.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '0      150290
1        4493
2        1384
3        8404
4       30867
        ...
979      4092
980      5951
981       915
982         1
983        13
Name: Wireless, Length: 984, dtype: object' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  acc_tecno_df.iloc[:, 3:] = acc_tecno_df.iloc[:, 3:].applymap(lambda x: str(x).replace('.0', ''))
C:\Users\Usuario\AppData\Local\Temp\ipykernel_764\2226258164.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '0      101294
1       48879
2          81
3       12404
4        9930
        ...
979      3264
980       644
981        34
982      2934
983        98
Name: Otros, Length: 984, dtype: object' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  acc_tecno_df.iloc[:, 3:] = acc_tecno_df.iloc[:, 3:].applymap(lambda x: str(x).replace('.0', ''))
C:\Users\Usuario\AppData\Local\Temp\ipykernel_764\2226258164.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '0      5044557
1      1504711
2        74933
3       155543
4       170676
        ...
979      26764
980     506612
981      37133
982      28038
983     130032
Name: Total, Length: 984, dtype: object' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  acc_tecno_df.iloc[:, 3:] = acc_tecno_df.iloc[:, 3:].applymap(lambda x: str(x).replace('.0', ''))

,Año,Trimestre,Provincia,ADSL,Cablemodem,Fibra óptica,Wireless,Otros,Total
0,2024,1,Buenos Aires,203297,2790663,1799013,150290,101294,5044557
1,2024,1,Capital Federal,70108,1177475,203756,4493,48879,1504711
2,2024,1,Catamarca,5901,11025,56542,1384,81,74933
3,2024,1,Chaco,11343,58929,64463,8404,12404,155543
4,2024,1,Chubut,26306,77217,26356,30867,9930,170676
...,...,...,...,...,...,...,...,...,...
979,2014,1,Santa Cruz,18927,100,381,4092,3264,26764
980,2014,1,Santa Fe,322662,174296,3059,5951,644,506612
981,2014,1,Santiago Del Estero,32567,3598,19,915,34,37133
982,2014,1,Tierra Del Fuego,21618,2837,648,1,2934,28038
983,2014,1,Tucumán,129717,83,121,13,98,130032

* Verifico que esten todos los datos en STR

In [42]:
acc_tecno_df.dtypes

Año             object
Trimestre       object
Provincia       object
ADSL            object
Cablemodem      object
Fibra óptica    object
Wireless        object
Otros           object
Total           object
dtype: object

* Una vez conseguido los datos a STR los convierto en valor numerico entero

In [43]:
columns_to_convert_accesos = acc_tecno_df.columns[3:]
acc_tecno_df[columns_to_convert_accesos] = acc_tecno_df[columns_to_convert_accesos].apply(pd.to_numeric, errors='coerce').astype('Int64')

In [44]:
acc_tecno_df

,Año,Trimestre,Provincia,ADSL,Cablemodem,Fibra óptica,Wireless,Otros,Total
0,2024,1,Buenos Aires,203297,2790663,1799013,150290,101294,5044557
1,2024,1,Capital Federal,70108,1177475,203756,4493,48879,1504711
2,2024,1,Catamarca,5901,11025,56542,1384,81,74933
3,2024,1,Chaco,11343,58929,64463,8404,12404,155543
4,2024,1,Chubut,26306,77217,26356,30867,9930,170676
...,...,...,...,...,...,...,...,...,...
979,2014,1,Santa Cruz,18927,100,381,4092,3264,26764
980,2014,1,Santa Fe,322662,174296,3059,5951,644,506612
981,2014,1,Santiago Del Estero,32567,3598,19,915,34,37133
982,2014,1,Tierra Del Fuego,21618,2837,648,1,2934,28038
983,2014,1,Tucumán,129717,83,121,13,98,130032

In [45]:
hogares_df = pd.read_csv('../data/raw/Penetracion-hogares.csv')

In [46]:
hogares_df.head(10)

    Año  Trimestre        Provincia  Accesos por cada 100 hogares
0  2024          1     Buenos Aires                         81.10
1  2024          1  Capital Federal                        119.53
2  2024          1        Catamarca                         68.82
3  2024          1            Chaco                         46.70
4  2024          1           Chubut                         84.89
5  2024          1          Córdoba                         90.70
6  2024          1       Corrientes                         51.94
7  2024          1       Entre Ríos                         69.31
8  2024          1          Formosa                         39.61
9  2024          1            Jujuy                         57.65

In [47]:
hogares_df.tail(10)

      Año  Trimestre            Provincia  Accesos por cada 100 hogares
974  2014          1              Neuquén                     49.791605
975  2014          1            Río Negro                     44.913957
976  2014          1                Salta                     28.699560
977  2014          1             San Juan                     27.595493
978  2014          1             San Luis                      9.347208
979  2014          1           Santa Cruz                     28.939093
980  2014          1             Santa Fe                     47.847663
981  2014          1  Santiago Del Estero                     16.309924
982  2014          1     Tierra Del Fuego                     63.965926
983  2014          1              Tucumán                     33.420975

* Redondeo a 3 decimales la columna de Accesos por cada 100 hogares

In [48]:
hogares_df["Accesos por cada 100 hogares"] = hogares_df["Accesos por cada 100 hogares"].round(3)

In [49]:
hogares_df.tail()

      Año  Trimestre            Provincia  Accesos por cada 100 hogares
979  2014          1           Santa Cruz                        28.939
980  2014          1             Santa Fe                        47.848
981  2014          1  Santiago Del Estero                        16.310
982  2014          1     Tierra Del Fuego                        63.966
983  2014          1              Tucumán                        33.421

In [50]:
hogares_df["Provincia"].unique()

array(['Buenos Aires', 'Capital Federal', 'Catamarca', 'Chaco', 'Chubut',
       'Córdoba', 'Corrientes', 'Entre Ríos', 'Formosa', 'Jujuy',
       'La Pampa', 'La Rioja', 'Mendoza', 'Misiones', 'Neuquén',
       'Río Negro', 'Salta', 'San Juan', 'San Luis', 'Santa Cruz',
       'Santa Fe', 'Santiago Del Estero', 'Tierra Del Fuego', 'Tucumán'],
      dtype=object)

In [51]:
hogares_df[(hogares_df["Accesos por cada 100 hogares"] <= 120) & (hogares_df["Provincia"] == "Capital Federal")]

      Año  Trimestre        Provincia  Accesos por cada 100 hogares
1    2024          1  Capital Federal                       119.530
25   2023          4  Capital Federal                       117.020
49   2023          3  Capital Federal                       116.400
73   2023          2  Capital Federal                       115.480
193  2022          1  Capital Federal                       111.798
217  2021          4  Capital Federal                       111.270
241  2021          3  Capital Federal                       111.271
265  2021          2  Capital Federal                       110.144
289  2021          1  Capital Federal                       108.420
313  2020          4  Capital Federal                       108.311
337  2020          3  Capital Federal                       107.676
361  2020          2  Capital Federal                       106.415
385  2020          1  Capital Federal                       105.980
409  2019          4  Capital Federal                       106.245
433  2019          3  Capital Federal                       112.645
457  2019          2  Capital Federal                       110.546
481  2019          1  Capital Federal                       109.196
505  2018          4  Capital Federal                       108.273
529  2018          3  Capital Federal                       108.446
553  2018          2  Capital Federal                       106.535
577  2018          1  Capital Federal                       106.236
673  2017          1  Capital Federal                       108.369
769  2016          1  Capital Federal                       115.160
793  2015          4  Capital Federal                       118.130
817  2015          3  Capital Federal                       118.289
841  2015          2  Capital Federal                       116.066
865  2015          1  Capital Federal                       114.897
889  2014          4  Capital Federal                       114.897
913  2014          3  Capital Federal                       113.801
937  2014          2  Capital Federal                       113.143
961  2014          1  Capital Federal                       112.254

* Todos lo datos de la Capital Federal son outliers por lo tanto voy a usar el primer dato del quartil debido a que no se puede verificar los datos

In [52]:
hogares_df[(hogares_df["Accesos por cada 100 hogares"] < 100)]["Accesos por cada 100 hogares"].quantile(0.25)

np.float64(32.67075)

* le resto el primer valor de quartil a todos los outliers y lo verifico

In [71]:
hogares_df.loc[hogares_df["Accesos por cada 100 hogares"] > 100, "Accesos por cada 100 hogares"] -= 32.58
hogares_df[hogares_df["Accesos por cada 100 hogares"] > 100]

Empty DataFrame
Columns: [Año, Trimestre, Provincia, Accesos por cada 100 hogares]
Index: []

In [54]:
poblacion_df = pd.read_csv('../data/raw/Penetración-poblacion.csv')

In [55]:
poblacion_df.head()

    Año  Trimestre        Provincia  Accesos por cada 100 hab
0  2024          1     Buenos Aires                     27.80
1  2024          1  Capital Federal                     48.78
2  2024          1        Catamarca                     17.50
3  2024          1            Chaco                     12.48
4  2024          1           Chubut                     26.02

In [56]:
poblacion_df.tail()

      Año  Trimestre            Provincia  Accesos por cada 100 hab
979  2014          1           Santa Cruz                  8.677327
980  2014          1             Santa Fe                 15.077801
981  2014          1  Santiago Del Estero                  4.058899
982  2014          1     Tierra Del Fuego                 19.104921
983  2014          1              Tucumán                  8.307215

* Redondeo a 3 decimales de la columna Acceso por cada 100 hab

In [57]:
poblacion_df["Accesos por cada 100 hab"] = poblacion_df["Accesos por cada 100 hab"].round(3)
poblacion_df

      Año  Trimestre            Provincia  Accesos por cada 100 hab
0    2024          1         Buenos Aires                     27.80
1    2024          1      Capital Federal                     48.78
2    2024          1            Catamarca                     17.50
3    2024          1                Chaco                     12.48
4    2024          1               Chubut                     26.02
..    ...        ...                  ...                       ...
979  2014          1           Santa Cruz                      8.68
980  2014          1             Santa Fe                     15.08
981  2014          1  Santiago Del Estero                      4.06
982  2014          1     Tierra Del Fuego                     19.10
983  2014          1              Tucumán                      8.31

[984 rows x 4 columns]

In [58]:
poblacion_df.isnull().sum()

Año                         0
Trimestre                   0
Provincia                   0
Accesos por cada 100 hab    0
dtype: int64

In [59]:
total_df = pd.read_csv('../data/raw/Penetracion-totales.csv')

In [60]:
total_df.head(10)

,Año,Trimestre,Accesos por cada 100 hogares,Accesos por cada 100 hab,Periodo
0,2024,1,78.890000,24.790000,Ene-Mar 2024
1,2023,4,78.560000,24.660000,Oct-Dic 2023
2,2023,3,77.840000,24.410000,Jul-Sept 2023
3,2023,2,77.020000,24.140000,Abr-Jun 2023
4,2023,1,77.200000,24.170000,Ene-Mar 2023
5,2022,4,77.210000,24.150000,Oct-Dic 2022
6,2022,3,76.640000,23.950000,Jul-Sept 2022
7,2022,2,75.965424,23.720442,Abr-Jun 2022
8,2022,1,73.878803,23.049171,Ene-Mar 2022
9,2021,4,73.176397,22.810702,Oct-Dic 2021

In [61]:
total_df.tail(10)

,Año,Trimestre,Accesos por cada 100 hogares,Accesos por cada 100 hab,Periodo
31,2016,2,53.342201,16.371351,Abr-Jun 2016
32,2016,1,51.845452,15.901802,Ene-Mar 2016
33,2015,4,52.630888,16.122697,Oct-Dic 2015
34,2015,3,52.459106,16.050289,Jul-Sept 2015
35,2015,2,51.760266,15.817234,Abr-Jun 2015
36,2015,1,51.364586,15.677234,Ene-Mar 2015
37,2014,4,50.499788,15.394677,Oct-Dic 2014
38,2014,3,50.672368,15.428769,Jul-Sept 2014
39,2014,2,49.861428,15.163908,Abr-Jun 2014
40,2014,1,49.545821,15.050104,Ene-Mar 2014

* Redondeo a 3 decimales las columnas Accesos por cada 100 hogares/hab

In [75]:
total_df[["Accesos por cada 100 hogares","Accesos por cada 100 hab"]] = total_df[["Accesos por cada 100 hogares","Accesos por cada 100 hab"]].round(3)

* creo los archivos csv

In [64]:
acc_tecno_df.to_csv('../data/processed/accesos_por_tecnologia_limpio.csv', index=False)
hogares_df.to_csv('../data/processed/penetracion-hogares-limpio.csv', index=False)
poblacion_df.to_csv('../data/processed/Penetración-poblacion-limpio.csv', index=False)
total_df.to_csv('../data/processed/Penetracion-totales.csv',index=False)